<div class="card">
  <div class="card-body">
    <h5 class="card-title">Consulta de produtos</h5>
    <p class="card-text">Listagem de produtos cadastradas.</p>
    <hr />
    <div *ngIf="mensagem_sucesso" class="alert alert-success">
      Sucesso: <strong>{{mensagem_sucesso}}</strong>
    </div>
    <div *ngIf="mensagem_erro" class="alert alert-danger">
      Sucesso: <strong>{{mensagem_erro}}</strong>
    </div>
 <!--    <div class="mb-3 col-md-4">
      <label>Filtro de busca:</label>
      <input type="text" class="form-control"
       placeholder="Digite aqui"


      [(ngModel)]='filtro'/>-->

      </div>
    <table class="table table-hover table-striped table-sm">
      <thead class="table-dark">
        <tr>
          <th>Nome do produto</th>
          <th>Preço</th>
          <th>Qde</th>
          <th>Dt cadastro</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of produtos">
          <td>{{ p.nome | uppercase}}</td>
          <td>{{ p.preco }}</td>
          <td>{{ p.quantidade }}</td>
          <td>{{ p.dataCadastro | date:'dd/MM/yyyy'}}</td>
          <td>
            <a class="btn btn-primary btn-sm m-x-1 my-1" >Editar </a>
            &nbsp;
            <button class="btn btn-danger btn-sm" (click)="excluir(p.idProduto)">Excluir</button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4"> Quantidade de Produtos: {{produtos.length}}</td>
        </tr>
      </tfoot>
    </table>
  </div>

